/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

/* Project specific CSS */

:root {
	/* Primary colors */
	--primaryBrightRed: hsl(12, 88%, 59%);
	--primaryBrightRedLighter: hsl(12, 100%, 74%);
	--primaryDarkBlue: hsl(228, 39%, 23%);

	/* Neutral colors */
	--neutralDarkGrayishBlue: hsl(227, 12%, 61%);
	--neutralVeryDarkBlue: hsl(233, 12%, 13%);
	--neutralVeryPaleRed: hsl(13, 100%, 96%);
	--neutralVeryLightGray: hsl(0, 0%, 98%);

	/* font-size */
	--fontSmaller: 0.7rem;
	--fontSmall: 0.8rem;
	--fontRegular: 1rem;

	/* font weight */
	--fontWeightLighter: 300;
	--fontWeightLight: 400;
	--fontWeightRegular: 500;
	--fontWeightSemiBold: 600;
	--fontWeightBold: 700;
}

body {
	min-height: 100vh;
	font-family: "Be Vietnam Pro", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-image: url(/images/bg-tablet-pattern.svg);
	background-repeat: no-repeat;
	background-position: right -10rem top -11rem;
}

main {
	width: 80%;
	max-width: 1440px;
	margin: auto;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 0;
	margin-bottom: 2rem;
}

.header-nav ul {
	display: flex;
	gap: 2rem;
}

.header-nav ul li a:hover {
	color: var(--neutralDarkGrayishBlue);
}

/* Removing default styles on li */
li {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}
button {
	cursor: pointer;
}

.header-nav ul li {
	font-size: var(--fontSmall);
	font-weight: var(--fontWeightLight);
}

.header-nav a {
	color: var(--primaryDarkBlue);
}

/* styling btns */
.hamburger-icons {
	display: none;
}
.get-started-btn {
	width: fit-content;
	background-color: var(--primaryBrightRed);
	color: var(--neutralVeryLightGray);
	border: none;
	border-radius: 5rem;
	padding: 0.65rem 2rem;
	font-size: var(--fontSmall);
	box-shadow: 0 12px 15px -5px var(--primaryBrightRedLighter);
	transition: background-color 100ms ease-in;
}

.get-started-btn:hover {
	background-color: var(--primaryBrightRedLighter);
}

/* hero */
.section {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	margin-bottom: 8rem;
}

.hero {
	align-items: center;
	padding-top: 1rem;
}

.hero-img {
	width: 100%;
	min-width: 50%;
}

.description-title {
	max-width: 80%;
	font-size: 3rem;
	font-weight: var(--fontWeightBold);
	line-height: 1.2;
}

.description-styles {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.description {
	max-width: 60%;
	color: var(--neutralDarkGrayishBlue);
	font-weight: var(--fontWeightLighter);
	font-size: var(--fontRegular);
}

.titles {
	color: var(--primaryDarkBlue);
}

.flex-image {
	position: relative;
	right: -0.9rem;
	width: 100%;
	min-width: 300px;
}

/* about-manage section */

.differences-sub-container {
	width: 100%;
}

.differences {
	display: flex;
	gap: 1rem;
	font-size: var(--fontRegular);
	font-weight: var(--fontWeightLighter);
}

.differences-texts {
	display: grid;
	gap: 1rem;
}

.differences-texts .titles {
	font-weight: var(--fontWeightBold);
}

.whats-different {
	font-size: 2.5rem;
	max-width: 90%;
}

.differences-title {
	max-width: 90%;
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 2.5rem;
	font-weight: var(--fontWeightBold);
}

.difference {
	max-width: 100%;
	padding-left: 6rem;
}

.number-styled {
	background-color: var(--primaryBrightRed);
	color: var(--neutralVeryLightGray);
	border: none;
	border-radius: 5rem;
	padding: 0.65rem 2rem;
	margin-right: 1rem;
	font-size: var(--fontSmall);
	font-weight: var(--fontWeightBold);
}

/* Testimonials section */

.testimonials {
	display: grid;
	gap: 2rem;
	margin-bottom: 8rem;
}

.testimonials-cta {
	margin: auto;
}

.testimonials h2 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.testi-cards {
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 38%;
	overflow-x: auto;
	overscroll-behavior-inline: contain;

	gap: 1rem;
	padding: 4rem;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari */
.testi-cards::-webkit-scrollbar {
	display: none;
}

.snap-inline {
	scroll-snap-type: inline mandatory;
}

.snap-inline > * {
	scroll-snap-align: start;
}

.carousel-nav {
	display: none;
	justify-content: center;
	gap: 1rem;
}

.carousel-indicator {
	border: none;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	outline: 2px solid var(--neutralVeryPaleRed);
	background: none;
}

.carousel-indicator.current {
	background: var(--primaryBrightRedLighter);
}

.card {
	position: relative;
	max-width: 520px;
	display: grid;
	gap: 1rem;
	text-align: center;
	background-color: var(--neutralVeryLightGray);
	padding: 2rem;
}

.card img {
	position: absolute;
	top: -35px;
	left: calc(50% - 35px);
	width: 70px;
	height: 70px;
}

.card .titles {
	padding-top: 1.5rem;
}

.card p:nth-of-type(1) {
	font-weight: var(--fontWeightBold);
}

.testimonials-text {
	color: var(--neutralDarkGrayishBlue);
	font-weight: var(--fontWeightLighter);
}

/* Simplify work */
.simplify-work-section {
	max-width: 100%;

	background-color: var(--primaryBrightRed);
	background-image: url(/images/bg-simplify-section-desktop.svg);

	padding: 4rem 0;
}

.simplify-work {
	max-width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.simplify-title {
	max-width: 40%;
	color: var(--neutralVeryLightGray);
	font-size: 2rem;
	font-weight: var(--fontWeightRegular);
}

.simplify-cta {
	background-color: var(--neutralVeryLightGray);
	color: var(--primaryBrightRed);
	width: fit-content;
	border: none;
	border-radius: 5rem;
	padding: 0.65rem 2rem;
	font-size: var(--fontSmall);
	box-shadow: 0 12px 15px -5px var(--primaryBrightRedLighter);
	transition: background-color 100ms ease-in;
}

.simplify-cta:hover {
	color: var(--primaryBrightRedLighter);
}

/* footer */
footer {
	background-color: var(--neutralVeryDarkBlue);
	padding: 4rem 0;
}

.footer-container {
	display: flex;
	max-width: 80%;
	margin: auto;
	justify-content: space-between;
	color: var(--neutralVeryLightGray);

	font-size: var(--fontSmall);
	font-weight: var(--fontWeightLighter);
}

.footer-nav {
	display: flex;
	width: 50%;
	justify-content: space-around;
}

.footer-elements {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer-elements a {
	color: var(--neutralVeryLightGray);
	transition: color 100ms ease-in;
}

.footer-elements a:hover {
	color: var(--primaryBrightRed);
}

.logo-social-icons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo-social-icons svg {
	cursor: pointer;
}
.social-icons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.social-icons a {
	color: var(--neutralVeryLightGray);
	font-size: 1.5rem;
	transition: color 100ms ease-in;
	cursor: pointer;
}

.social-icons a:hover {
	color: var(--primaryBrightRed);
}

.copyright {
	text-align: right;
	font-size: var(--fontSmaller);
	font-weight: var(--fontWeightLighter);
	opacity: 0.6;
}

.newsletter-form-container {
	display: flex;
	gap: 0.5rem;
	justify-content: space-between;
}

.newsletter-form-container input[type="text"] {
	border: none;
	border-radius: 5rem;
	padding: 0.7rem 1rem;
	font-size: 0.7rem;
	outline: none;
}

.newsletter-form {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.newsletter-form button {
	padding: 0.65rem 1.3rem;
	box-shadow: none;
	font-size: var(--fontSmaller);
}

/* Media Queries */
/* ####### */

/* Tablet */
@media screen and (max-width: 1024px) {
	body {
		background-size: 26rem;
		background-position: right -7rem top -5rem;
	}

	main {
		width: 90%;
	}

	.header-nav {
		position: relative;
		margin-bottom: 0;
		padding: 2rem 0;
	}

	.header-nav > .get-started-btn {
		display: none;
	}

	.header-nav ul {
		display: none;
		position: absolute;
		top: 6rem;
		width: 100%;
		background-color: #ffffff;
		border-radius: 5px;

		box-shadow: 0px 0px 25px -20px rgba(66, 68, 90, 1);
		flex-direction: column;
		padding: 2.5rem;

		text-align: center;
	}

	.header-nav li a {
		font-size: var(--fontRegular);
		font-weight: var(--fontWeightBold);
	}

	.hero {
		padding-top: 0;
	}

	.hero {
		flex-direction: column-reverse;
		margin-bottom: 5rem;
	}

	.hamburger-icons {
		display: flex;
	}

	/* apply this class with js when menu is active  */
	.shadow {
		background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 1) 0%,
			rgba(0, 0, 0, 0) 100%
		);
		background-size: cover;
		background-position: 0;
	}

	/* Styling box icon menu icon*/
	.bx {
		font-size: 2rem;
		color: var(--neutralVeryDarkBlue);
	}

	.hero-img {
		right: 0;
		width: 100%;
		max-width: 40rem;
	}

	.description-title {
		max-width: 100%;
		font-size: 2.5rem;
		font-weight: var(--fontWeightSemiBold);
	}

	.description-styles,
	.description {
		max-width: 100%;
		text-align: center;
		gap: 0;
	}

	.description {
		padding: 1rem 1rem 2rem 1rem;
	}

	.get-started-btn {
		margin: auto;
	}

	/* differences texts */

	.differences-sub-container {
		align-items: center;
	}

	.differences-texts .titles {
		width: 95vw;
		margin-left: 1rem;
		max-width: 40rem;
		display: flex;
		align-items: center;
		text-align: left;
		background-color: var(--neutralVeryPaleRed);
		border-radius: 10rem 0 0 10rem;
	}

	.difference {
		max-width: 40rem;
		text-align: left;
	}

	.differences-title {
		display: block;
		max-width: 100%;
		font-size: 2rem;
	}

	.number-styled {
		padding: 0.55rem 1.2rem;
		margin-right: 0.8rem;
	}

	/* about-manage-section */
	.about-manage-section {
		flex-direction: column;
	}

	/* Testimonials */
	.testimonials h2 {
		font-size: 2rem;
		margin-bottom: 0;
	}

	.testi-cards {
		grid-auto-columns: 130%;
		margin: 0 1.5rem;
		gap: 5rem;
		padding-bottom: 0;
	}

	.carousel-nav {
		display: flex;
	}

	/* simplify section */
	.simplify-work {
		flex-direction: column;
		gap: 1rem;
	}

	.simplify-title {
		max-width: 100%;
		padding: 0 1rem;
		text-align: center;
	}

	/* footer */
	footer {
		position: relative;
	}
	.footer-container {
		flex: 1;
		gap: 3rem;
		align-items: center;
		max-width: 320px;
		flex-direction: column-reverse;
	}

	.footer-nav {
		margin-left: -3rem;
		width: 100%;
		justify-content: center;
	}

	.footer-links {
		display: flex;
		justify-content: center;
		width: inherit;
	}

	.logo-social-icons {
		align-items: center;
		gap: 2rem;
		flex-direction: column-reverse;
		margin-bottom: 1rem;
	}
	.social-icons {
		gap: 1.5rem;
	}

	.social-icons i {
		color: var(--neutralVeryLightGray);
	}

	.newsletter-form-container {
		width: 100%;
	}

	.newsletter-form {
		width: inherit;
		gap: 0.5rem;
	}

	.newsletter-form input {
		width: inherit;
	}

	.copyright {
		width: 100%;
		text-align: center;

		padding: 2rem;

		position: absolute;
		bottom: 0;
		left: 0;
	}
}
